html {
    font-size: 14px;
    color: darkslategrey;
    background-color: #eaeef3;
    font-family: "Verdana", sans-serif;
}

.button {
    position: absolute;
    left: 50%;
    height: 7vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    border: 2px solid darkslategrey;
    border-radius: 15px;
    background-color: #e0e0e0;
}

.button > span {
    align-self: center;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background-color: darkslategrey;
    color: #fff;
}

.button__fridgeContents {
    bottom: 30%;
    transform: translate(-50%, -30%);
}

.button__cookbook {
    bottom: 15%;
    transform: translate(-50%, -15%);
}