<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BigBrainFridge</title>
    <link rel="stylesheet" href="static/styles.css" type="text/css" />
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1><a href='/'>Smartfridge</a></h1>
            </div>
            <div class="user">
                <div class="username">Username</div>
                <img src="static/assets/placeholder,png" alt="" class="avatar">
            </div>
        </nav>
    </header>
<div class="button button__fridgeContents" id="getContents"><span>My fridge</span></div>
<div class="button button__cookbook" id="getRecipes"><span>Cookbook</span></div>
</body>